button {
  width: 12em;
  margin-left: auto;
  margin-right:auto;
  margin-top:0.1em;
  margin-bottom:0.1em;
  padding: 0.5em;
  border: none;
  background-color: #b4d5c0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  opacity:0.7;
}

table {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.reset{
  background-color:#8dc4a7;
}

.title {
  width:100%;
  margin:0px;
  text-align: center;
  color:#217566;
  text-decoration: none;
}

#header {
  display: flex; 
  justify-content: center; 
  border: solid 3px #217566
}

#Subtitles td {
  overflow:auto;
  margin-bottom: 0.5em;
}

body{
  background-color: #dfeae2
}

.measurement{
  width:30ch;
}

.message{
  text-align: center;
  font-weight:bold ;
}

.moreinfo{
  background: none;
  border-style: solid;
  border-width: 2px;
  border-color: #217566;
  border-radius: 5px;
  color: #217566;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-left:auto;
  margin-right:auto;
}

.details-btn {
  width: 20px;
  text-align: right;
}

.details-td {
  width: 2px;
}
