button {
  width: 12em;
  outline: none;
  margin: 0.5em;
  padding: 0.5em;
  border:none;
  background-color: rgb(129, 209, 118);
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}