.title {
  width:100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  background-color: #bff2ac;

};
.container{
  width: 100ch;
}
.measurement{
  width:30ch;
}

.score0{
  border: 10px;
  border-color: #bff2ac;
}